<div class="modal-header">
  <h4 class="modal-title">Solicitud de prestamo</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="onCancelar()"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="this.formPrestamo">
    <div class="row mb-3 justify-content-center" id="Info cliente">
      <div class="col-auto text-center">
        <h3 class="text-primary">{{ this.nombreCliente() }}</h3>
        <strong>{{ this.cedulaCliente() }}</strong>
      </div>
    </div>
    <div class="row justify-content-center">
      <label for="monto" class="col-form-label text-center">Monto</label>
      <div class="col-auto">
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            type="number"
            id="monto"
            class="form-control"
            aria-describedby="passwordHelpInline"
            formControlName="monto"
          />
        </div>
        <span
          id="passwordHelpInline"
          class="form-text"
          [ngClass]="{
            'text-danger': !this.formPrestamo.valid && this.formPrestamo.touched
          }"
        >
          Ingrese un valor entre $10.000 y $100.000.
        </span>
      </div>
    </div>
    <div class="row my-4 justify-content-center">
      <label for="fecha" class="form-label text-center">Fecha de pago</label>
      <div class="col-auto">
        <input
          type="date"
          class="form-control"
          id="fecha"
          formControlName="fechaPago"
        />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-success"
    (click)="onSolicitar()"
    [disabled]="!this.formPrestamo.valid"
  >
    Solicitar
  </button>
  <button type="button" class="btn btn-danger" (click)="onCancelar()">
    Cancelar
  </button>
</div>
