<div class="d-flex justify-content-center">
  <div class="col-8 border rounded-3 p-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cliente</th>
          <th scope="col">Monto aprobado</th>
          <th scope="col">Fecha pago</th>
          <th scope="col">Estado</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let prestamo of listaPrestamos$ | async; let i = index">
          <th scope="row">{{ prestamo.id }}</th>
          <td>{{ prestamo.nombreCliente }}</td>
          <td>{{ prestamo.monto ? '$ '+prestamo.monto : '' }}</td>
          <td>{{ prestamo.fechaPago }}</td>
          <td>
            <div class="col">
              <div class="text-success fw-bold">
                Pagado:
                <span class="text-decoration-underline">$ {{
                  prestamo.pagado
                }}</span>
              </div>
              <div class="text-danger fw-bold">
                Debe:
                <span class="text-decoration-underline">$ {{
                  prestamo.monto - prestamo.pagado
                }}</span>
              </div>
            </div>
          </td>
          <td>
            <button
              class="btn btn-success"
              (click)="onAbrirModalPago(prestamo)"
            >
              <i class="bi bi-cash-coin"></i> <span> Pagar</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
