<div id="NavBar" class="container-fluid py-3 bg-light shadow sticky-top">
  <ul class="nav justify-content-between">
    <div class="nav nav-pills">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/characters"
          [ngClass]="activeTab(0)"
          (click)="onSelectTab(0)"
          >Clientes</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/locations"
          [ngClass]="activeTab(1)"
          (click)="onSelectTab(1)"
          >Prestamos</a
        >
      </li>
    </div>
  </ul>
</div>
<br />
<app-saldo-banco></app-saldo-banco>
<div class="row justify-content-center text-center mt-1">
  <div class="col-8">
    <ngb-alert #selfClosingAlert *ngIf="alerta" [type]="alerta?.tipo || '' " (closed)="alerta = undefined">{{ alerta.mensaje }}
    </ngb-alert>
    
  </div>
</div>

<router-outlet></router-outlet>
